<div>

  <label>Name to Search Employee:</label>

  <input type="text" title="emp_name" (keyup)="searchEmployee(nameNode.value)" #nameNode>
  <p>{{errorMessage}}</p>

</div>
<section class="flex flex-wrap gap-9 justify-center p-4">
  <div
    *ngFor="let employee of employees"
    class="w-full sm:w-80 bg-white shadow-lg shadow-slate-400 rounded-lg overflow-hidden hover:shadow-xl transition-shadow duration-300"
  >
   <app-employeecard [employee]="employee"></app-employeecard>
  </div>
</section>
